#app-header {
    font-family: Arial, Helvetica, sans-serif;
    align-self: flex-start;
    padding: 10px;
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.main-content {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex: 1;
    width: 100%;
}

#stocks {
    width: 25%; 
    max-height: 100%; 
    overflow-y: auto; 
    overflow-x: hidden; 
    padding: 10px;
    box-sizing: border-box;
}

#results-container {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

input{
    margin-right: 0.5vw;
    box-sizing: border-box; 
}

.symbol-input {
    width: 4vw;
    height: 3vh;  
}

.qty-input {
    width: 3vw;
    height: 3vh;  
}

.date-input {
    width: 5vw;
    height: 3vh;  
}

.fa-trash-can {
    color: white;
    background-color: #3f51b5;
    border: 0ch;
    /* transform: scale(1.5);   */
    cursor: pointer;
    border-radius: 10px;
}

.error-message {
    font-size: 0.85em;
    color: red;
    width: 100%;
    max-width: 70%;
    white-space: normal;
    line-height: 1.2;
}


button{
    transform: scale(0.8);
    transform-origin: top left;
}


