<ng-container>
    <h1 class="section-heading">Stock Trading App</h1>
    <input type="text" placeholder="Search for stock" #stockSymbolQuery1>
    <input type="text" placeholder="Search for stock" #stockSymbolQuery2>
    <button class="primary" type="button"
        (click)="searchForStock(stockSymbolQuery1.value, stockSymbolQuery2.value)">Search</button>
    <div class="centered-container">
        <app-stock-chart [xValues]="this.data!!.tradeTimes" [yValues]="this.data!!.tradePrice"
            [graphSymbol]="stockSymbolQuery1.value"></app-stock-chart>
    </div>
</ng-container>