<ng-container>
    <h1 class="section-heading">Stock Trading App</h1>

    <form [formGroup]="stocksForm" (ngSubmit)="calculatePortfolio()">
        <table formArrayName="stocks">
            <tr>
                <th>Symbol</th>
                <th>Quantity</th>
                <th>Purchase Date</th>
                <th>Selling Date</th>
            </tr>


            @for(stock of stocks().controls; track $index){
            <tr [formGroup]="getStock($index)">
                <td>
                    <input type="text" formControlName="symbol" placeholder="Symbol" class="form-control">
                </td>
                <td>
                    <input type="number" formControlName="qty" placeholder="1" class="form-control">
                </td>
                <td>
                    <input type="text" formControlName="purchaseDate" placeholder="(YYYY-MM-DD)" class="form-control">
                </td>
                <td>
                    <input type="text" formControlName="sellDate" placeholder="(YYYY-MM-DD)" class="form-control">
                </td>
                <td>
                    <button type="button" (click)="removeStock($index)" class="fa-regular fa-trash-can"><fa-icon [icon]="faTrash"></fa-icon></button>
                </td>
            </tr>

            }

        </table>

        <button type="button" (click)="addNewStock()" class="btn btn-primary">Add Stock</button>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>


    @if(this.data){
    <div class="centered-container">
        <app-stock-chart [xValues]="this.data!!.tradeTimes" [yValues]="this.data!!.tradePrice"
            [graphSymbol]="'Portfolio'"></app-stock-chart>
    </div>
    }

</ng-container>