<div class="full-component-center">
    <h3>Portfolio Performance</h3>
    <div class="result-row">
        <h5>Total Profit: {{calcTotalPerformance().toFixed(2)}}$</h5>
        <h5>Profit: {{calcTotalPerformancePercentage().toFixed(2)}}%</h5>
    </div>
    <div class="result-row">
        <h5>Highest value: {{findHighestPrice().toFixed(2)}}$</h5>
        <h5>Highest value date: {{findHighestPriceDate()}}</h5>
    </div>
    <div class="result-row">
        <h5>Lowest value: {{findLowestPrice().toFixed(2)}}$</h5>
        <h5>Lowest value date: {{findLowestPriceDate()}}</h5>
    </div>  
</div>
