<div class="full-component-center">
    <h3>Portfolio Performance</h3>
    <div class="result-row">
        <h5>Profit: {{this.calcTotalPerformance().toFixed(2)}}%</h5>
        <h5>Total Profit: {{this.totalRetrievedFunds-this.totalAddedFunds}}$</h5>
    </div>
    <div class="result-row">
        <h5>Hightest value: {{this.findHighestPrice()}}</h5>
        <h5>Hightest value date: {{this.findHighestPriceDate()}}</h5>
    </div>

    <div class="result-row">
        <h5>Lowest value: {{this.findLowestPrice()}}</h5>
        <h5>Lowest value date: {{this.findLowestPriceDate()}}</h5>
    </div>  
</div>
